body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 40px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


.center {
  text-align: center;
}

.hidden-input {
  display: none;
}

.option-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.option-button:focus {
  outline: none;
}

.selected {
  background-color: #45a049;
}

.pkcard {

  background-size: 100%;
  background-repeat: no-repeat;
  aspect-ratio: 63/87;
  height: 100%;
  text-align: center;
  color: white;
}

.card-hand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bench {
  display: flex;
  justify-content: space-around;
}

#player-discard,
#opponent-discard {
  padding-top: 11%;
  height: 33.333%;
  justify-content: center;
  display: flex;


}

#player-deck,
#opponent-deck {
  height: 33.333%;
  padding-bottom: 11%;
  padding-top: 11.333%;
  justify-content: center;
  display: flex;

}

.energy-bar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  pointer-events: none;

}

.energy{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid black 1px;
}


.move-bar {
  display: flex;
}

.move-cost {
  display: flex;
}

.move-damage {
  display: flex;
}





.Grass {
  background-color: green;
}

.Fire {
  background-color: red;
}

.Water {
  background-color: blue;
}
.Electric {
  background-color: yellow;
}

.Fighting {
  background-color: brown;
}

.Psychic {
  background-color: purple;
}

.Steel {
  background-color: silver;
}

.Dark {
  background-color: darkslategrey;
}


.Colorless {
  background-color: white;
}

#middle {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.spacer2{
  flex: 2;
}