<!DOCTYPE html>
<html>

<head>

    <title>Pokémon Trading Card Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/smudge12.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #game-board {
            background-color: green;
        }

        #opponent-bench {
            background-color: red;
        }

        #player-bench {
            background-color: blue;

        }

        .active-board {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        .card-hand {
            display: flex;
        }

        .popup-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            z-index: 9999;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .popup-container button,
        .examination-container button {
            margin-right: 10px;
        }

        .popup-container button:last-child,
        .examination-container button:last-child {
            margin-right: 0;
        }

        .examination-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            z-index: 9999;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .examination-container h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .examination-container img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

        #followingElement {
            width: 50px;
            height: 50px;
            background-color: #3498db;
            border-radius: 50%;
            position: absolute;
            pointer-events: none;
            /* Ensure the following element doesn't interfere with mouse events */
        }
    </style>
</head>

<body>

    <div id="game-board" style="height: 100vh">
        <div id="opponent-hand" class="card-hand" style="height: 10%;">
            <!-- Opponent hand elements -->
        </div>


        <div id="opponent-side" class="row" style="height: 30%">


            <div id="opponent-pile" class="c2">
                <div id="opponent-deck"></div>
                <div id="opponent-discard"></div>

            </div>
            <div id="opponent-field" class="c8">

                <div id="opponent-bench" class="bench" style="height: 33.3%;">
                    <!-- opponent bench elements -->
                </div>


                <div id="opponent-active-board" class="active-board" style="height: 33.3%;">
                    <div id="opponent-active" style="height: 100%; width: 10%;"></div>
                </div>

            </div>

            <div id="opponent-prizes" class="c2">

            </div>

        </div>






        <div id="middle" style="height: 20%; display: flex;">
            <div class="spacer2">
                <ul>
                    <li>
                        Maybe what you can do here?
                    </li>
                </ul>
            </div>

            <p>Turn {{ turn }} </p>
            <br>
            <button id="endTurn">End Turn</button>
            <div class="spacer2"></div>
        </div>








        <div id="player-side" class="row" style="height: 30%">

            <div id="player-prizes" class="c2">

            </div>

            <div id="player-field" class="c8">
                <div id="player-active-board" class="active-board" style="height: 33.3%;">
                    <div id="player-active" style="height: 100%; width: 10%;"></div>
                </div>


                <div id="player-bench" class="bench" style="height: 33.3%;">
                </div>


            </div>

            <div id="player-pile" class="c2">
                <div id="player-discard"></div>
                <div id="player-deck"></div>

            </div>

        </div>

        <div id="player-hand" class="card-hand" style="height: 10%;">
            <!-- Player hand elements -->
        </div>

    </div>

</body>
<script>
    let game_state = JSON.parse({{ game | tojson }});
    let cardDB = JSON.parse({{ card_db | tojson }});
    let player = game_state[0];
    let opponent = game_state[1];
    let player_hand = player["hand"];
    let opponent_hand = opponent["hand"];
    let turn = 0;

    function clearPopUps() {
        const existingPopups = document.querySelectorAll('.popup-container, .examination-container');
        existingPopups.forEach((popup) => popup.remove());
    }

    let awaiting_target = false;
    
    function trackElement(selectedElement, followingElement) {
        console.log('Selected Element:', selectedElement);
        // Disable tracking after the element is selected
        isTrackingEnabled = false;
        followingElement.remove()
    }

    function startFollowing() {
        isTrackingEnabled = true;
        
        // Create the following element
        const followingElement = document.createElement('div');
        followingElement.setAttribute('id', 'followingElement');

        // Add the following element to the document
        document.body.appendChild(followingElement);

        // Add event listener to update the position of the following element on mousemove
        document.addEventListener('mousemove', updateFollowingElementPosition);

        document.body.addEventListener('click', function (event) {
            if (isTrackingEnabled && event.target.classList.contains('pkcard')) {
                trackElement(event.target, followingElement);
            }
        });
    }

    function updateFollowingElementPosition(event) {
        const followingElement = document.getElementById('followingElement');
        followingElement.style.left = `${event.pageX - 25}px`;
        followingElement.style.top = `${event.pageY - 25}px`;
    }




    function examineCard(card, card_index) {
        // Create a card examination container
        const examinationContainer = document.createElement('div');
        examinationContainer.classList.add('examination-container');

        // Create card information elements
        const cardNameElement = document.createElement('h3');
        cardNameElement.textContent = card.name;

        const cardImageElement = document.createElement('img');
        cardImageElement.src = card.img;

        // Create play button
        const playButton = document.createElement('button');
        playButton.textContent = 'Play';
        playButton.addEventListener('click', () => {
            tryPlayCard(card, card_index);
            // Remove the examination container when the card is played
            examinationContainer.remove();
        });

        // Create close button
        const closeButton = document.createElement('button');
        closeButton.textContent = 'Close';
        closeButton.addEventListener('click', () => {
            // Remove the examination container when the Close button is clicked
            examinationContainer.remove();
        });

        // Append card information elements, play button, and close button to the examination container
        examinationContainer.appendChild(cardNameElement);
        examinationContainer.appendChild(cardImageElement);
        examinationContainer.appendChild(playButton);
        examinationContainer.appendChild(closeButton);

        // Append the examination container to the document body
        document.body.appendChild(examinationContainer);
    }

    function playAction(data) {
        location.reload()
    }

    function sendAction(data) {
        console.log(data);
        fetch('/match/npc', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                data
            }),
        })

            .then((response) => {
                if (!response.ok) {
                    throw new Error('Failed to send the request.');
                }
                return response.json();
            })
            .then((responseData) => {
                if (responseData.v) {
                    playAction()
                }
                console.log(responseData.message);
            })
            .catch((error) => {
                console.error('An error occurred while sending the request:', error);
            });
    };

    function tryGetTarget() {
        startFollowing();
    }

    function tryPlayCard(card, card_index) {
        if (card["supertype"]) {
            if (card["subtypes"] != "Basic") {
                // console.log("PLAYING NOT BASIC");
                console.log(card);
                target = tryGetTarget();
                console.log("PLAYING NOT BASIC");
            } else {
                playCard(card, card_index)
            }
        }

    }



    function playCard(card, card_index) {
        // Implement your logic to play the card
        let data = {
            "type": "hand",
            "card": card,
            "card_index": card_index,
            "turn": turn
        }
        sendAction(data);

    }







    function showOptions(cardId, card_index) {
        clearPopUps();

        // Create a pop-up container
        const popupContainer = document.createElement('div');
        popupContainer.classList.add('popup-container');

        // Create option buttons
        const readButton = document.createElement('button');
        readButton.textContent = 'Read';
        readButton.addEventListener('click', () => {
            // Implement your logic for the Read option
            const card = cardDB[cardId]; // Assuming a function findCardById(cardId) retrieves card details
            console.log(card);
            examineCard(card, card_index);
            popupContainer.remove();
        });

        const playButton = document.createElement('button');
        playButton.textContent = 'Play';
        playButton.addEventListener('click', () => {
            console.log('Play option selected');
            tryPlayCard(cardDB[cardId], card_index);
            popupContainer.remove();
            // Implement your logic for the Play option
        });

        const backButton = document.createElement('button');
        backButton.textContent = 'Back';
        backButton.addEventListener('click', () => {
            // Remove the pop-up container when Back option is selected
            popupContainer.remove();
        });

        // Append option buttons to the pop-up container
        popupContainer.appendChild(readButton);
        popupContainer.appendChild(playButton);
        popupContainer.appendChild(backButton);

        // Append the pop-up container to the document body
        document.body.appendChild(popupContainer);
    }


    function populate_hand(who, cards) {
        cards.forEach((card, card_index) => {
            let where = who + "-hand";

            // Create a new card element
            const cardElement = document.createElement('div');
            // cardElement.textContent = cardDB[card].name;
            cardElement.classList.add('pkcard');
            if (who == "player") {
                cardElement.style.backgroundImage = `url(${cardDB[card].img})`;
                cardElement.addEventListener('click', () => {
                    // Perform actions when the card is clicked
                    // Display options or perform any desired functionality

                    showOptions(card, card_index);
                });
            } else {
                cardElement.style.backgroundImage = `url({{ url_for('static', filename='img/back_english.jpg') }})`;
            }

            document.getElementById(where).appendChild(cardElement);
        });

    };

    function populate_field(who, field) {

        if (field["active"] && "card" in field["active"]) {
            let cardElement = document.createElement('div');
            // cardElement.textContent = cardDB[card].name;
            cardElement.classList.add('pkcard');

            cardElement.style.backgroundImage = `url(${cardDB[field["active"]["card"]].img})`;
            cardElement.addEventListener('click', () => {
                // Perform actions when the card is clicked
                // Display options or perform any desired functionality

                // showOptions(card, card_index);
            });
            document.getElementById(who + "-active").appendChild(cardElement);
        }
        for (i in field["bench"]) {
            card = cardDB[field["bench"][i]["card"]];
            console.log(card);
            const cardElement = document.createElement('div');
            // cardElement.textContent = cardDB[card].name;
            cardElement.classList.add('pkcard');

            cardElement.style.backgroundImage = `url(${card.img})`;
            cardElement.addEventListener('click', () => {
                // Perform actions when the card is clicked
                // Display options or perform any desired functionality

                // showOptions(card, card_index);
            });
            document.getElementById(who + "-bench").appendChild(cardElement);
        }
        let cardElement = document.createElement('div');
        // cardElement.textContent = cardDB[card].name;
        cardElement.classList.add('pkcard');
        cardElement.style.backgroundImage = `url({{ url_for('static', filename='img/back_english.jpg') }})`;
        cardElement.textContent = field.deck.length
        document.getElementById(who + "-deck").appendChild(cardElement);

    }

    document.getElementById('endTurn').addEventListener('click', () => {
        // Send the request to Flask when the button is clicked

        let data = {
            "type": "endTurn",
            "turn": turn
        }
        sendAction(data);

    });



    // Event listener for the button click
    // button.addEventListener('click', (event) => {
    //     console.log("HAN")
    // });






    populate_hand("player", player_hand);
    populate_hand("opponent", opponent_hand);

    populate_field("player", player)
    populate_field("opponent", opponent)

</script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>