<!DOCTYPE html>
<html>

<head>

    <title>Pokémon Trading Card Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/smudge12.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #game-board {
            background-color: green;
        }

        #opponent-bench {
            background-color: red;
        }

        #player-bench {
            background-color: blue;

        }

        .active-board {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="game-board" style="height: 100vh">
        <div id="opponent-hand" style="height: 10%;">
            <!-- Opponent hand elements -->
        </div>


        <div id="opponent-side" class="row" style="height: 30%">

            
            <div id="opponent-pile" class="c2">
                <div id="opponent-discard"></div>
                <div id="opponent-deck"></div>

            </div>
            <div id="opponent-field" class="c8">
                
                <div id="opponent-bench" style="height: 15%;">
                    <!-- opponent bench elements -->
                </div>

                <div id="opponent-active-board" class="active-board" style="height: 10%;">
                    <div id="opponent-active" style="height: 100%; width: 10%; background-color: white;"></div>
                </div>

            </div>

            <div id="opponent-prizes" class="c2">

            </div>

        </div>


        <div id="middle" style="height: 20%;">
            <!-- Opponent bench elements -->
        </div>

        <div id="player-side" class="row" style="height: 30%">

            <div id="player-prizes" class="c2">

            </div>

            <div id="player-field" class="c8">
                <div id="player-active-board" class="active-board" style="height: 10%;">
                    <div id="player-active" style="height: 100%; width: 10%; background-color: white;"></div>
                </div>
                <div id="player-bench" style="height: 15%;">
                    <!-- Player bench elements -->
                </div>

            </div>

            <div id="player-pile" class="c2">
                <div id="player-discard"></div>
                <div id="player-deck"></div>

            </div>

        </div>

        <div id="player-hand" style="height: 10%;">
            <!-- Player hand elements -->
        </div>

    </div>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>