{% extends "base.html" %}
{% block head %}
<style>

</style>
<script>
    function selectOption(option) {
        var hiddenInput = document.getElementById('hiddenInput');
        hiddenInput.value = option;

        // Deselect all option buttons
        var buttons = document.getElementsByClassName('option-button');
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].classList.remove('selected');
        }

        // Select the clicked option button
        option.classList.add('selected');
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the Game!</h1>
    <p>Please select your option:</p>
    <form action="/select_option" method="POST">
        <input type="hidden" id="hiddenInput" name="option">
        <button type="button" class="option-button" onclick="selectOption('fire')">Fire</button>
        <button type="button" class="option-button" onclick="selectOption('water')">Water</button>
        <button type="button" class="option-button" onclick="selectOption('grass')">Grass</button>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}