{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block content %}
<h1>Welcome, {{ player.player_name }}!</h1>

<h2>Change Password</h2>
<form action="/profile/change_password" method="POST">
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" required><br><br>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required><br><br>

    <input type="submit" value="Change Password">
</form>

{{ player.credits }}

{% if deck %}
<h1>Current Deck</h1>

<div class="row"> 
{% for card, counted in deck.items() %}
<p>
{{ card }} x{{ counted }}
</p>
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}